<ion-content class="ion-padding" style="background: linear-gradient(135deg, #3880ff, #f4f5f8);">
  <div class="splash-container">
    <img src="assets/img/splash.png" alt="Splash Image" class="splash-image" />
  </div>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Jeev Jantoo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Find Your Furry Best Friend</h2>
      <p class="welcome-text">Discover the joy of pet adoption with our wide range of lovable companions.</p>
      <ion-button expand="block" color="primary" class="animated-button" (click)="goToDashboard()">Get Started</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>