<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ambulances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="loading"></ion-spinner>
  
  <div *ngIf="!loading && ambulances.length">
    <ion-card class="ambulance-card" *ngFor="let amb of ambulances">
      <ion-card-header>
        <ion-card-title>{{ amb.name }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <p>Contact: {{ amb.contact }}</p>
        adolescent
        <p>Vehicle: {{ amb.vehicle_number }}</p>
        <p>Authority: {{ amb.governing_body }}</p>
        <p>Location: {{ amb.area }}</p>
      </ion-card-content>
      
      <ion-card-footer>
        <ion-button expand="block" color="primary" (click)="trackAmbulance(amb)">
          Track Ambulance
        </ion-button>
      </ion-card-footer>
    </ion-card>
  </div>
  
  <div class="no-ambulance" *ngIf="!loading && !ambulances.length">
    No ambulances available at the moment.
  </div>
</ion-content>