// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #ff6b00;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-light: #fffbf0;
  --ion-color-medium: #666;
}