<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="premium-menu">
      <ion-content>
        <!-- Profile Header -->
        <div class="menu-profile">
          <div class="profile-details">
            <div class="profile-name">Jeev Jantoo</div>
            <div class="profile-status">Find your new family member!</div>
          </div>
        </div>

        <!-- Menu List -->
        <ion-list class="menu-list" lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/dashboard" (click)="navigareToHome()">
              <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-label>Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/profile" (click)="navigateToProfile()">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/pets" (click)="navigateToAdopt()">
              <ion-icon name="paw-outline" slot="start"></ion-icon>
              <ion-label>Adopt</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/adoption" routerDirection="root">
              <ion-icon name="heart-outline" slot="start"></ion-icon>
              <ion-label>Put for Adoption</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/contact" routerDirection="root">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-label>Contact</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Logout button fixed at bottom -->
        <div class="signout-container">
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" class="signout-item">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
