<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Medical Insurance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="insurance-content">
  <!-- Filters -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Filters</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Search Provider" [(ngModel)]="filters.q"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="City" [(ngModel)]="filters.city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" placeholder="Min Sum Insured" [(ngModel)]="filters.minSum"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" placeholder="Max Premium" [(ngModel)]="filters.maxPremium"></ion-input>
      </ion-item>
      <ion-button expand="block" color="success" (click)="loadInsurances()">
        Apply Filters
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Insurance List -->
  <ion-list *ngIf="!loading">
    <ion-card *ngFor="let ins of insurances" (click)="openDetail(ins)" class="insurance-card">
      <ion-card-header>
        <ion-card-title>{{ ins.provider }}</ion-card-title>
        <ion-card-subtitle>{{ ins.plan }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-chip color="primary" *ngFor="let c of ins.coverage?.split(',')">{{c}}</ion-chip>
        <p><b>Sum Insured:</b> ₹{{ ins.sum_insured }}</p>
        <p><b>Premium:</b> ₹{{ ins.premium }}</p>
        <p><b>City:</b> {{ ins.city }}</p>
        <ion-button color="tertiary" size="small">Buy</ion-button>
        <ion-button color="warning" size="small">Claim Process</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
</ion-content>
