<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Profile Header -->
  <div class="profile-header">
    <div class="avatar-circle">
      <ion-icon name="person" class="avatar-icon"></ion-icon>
    </div>
    <div class="username-text">{{ username }}</div>
  </div>

  <!-- Profile Menu List -->
  <div class="profile-list">
    <div class="profile-item" *ngFor="let item of menu" (click)="onMenuClick(item)">
      <div class="profile-icon" [ngStyle]="{'background': item.bg}">
        <ion-icon [name]="item.icon"></ion-icon>
      </div>
      <div class="profile-label">{{ item.label }}</div>
      <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
    </div>
  </div>
</ion-content>
