<ion-content [fullscreen]="true" class="forgot-content" scroll-y="false">
  <div class="form-wrapper">
    <div class="forgot-card">
      <!-- Logo with favicon -->
      <div class="logo">
        <img src="assets/icon/favicon.png" alt="Jeevjantoo Logo" class="favicon-logo" />
        <h2 class="app-title">Forgot Password</h2>
      </div>

      <!-- Forgot Password Form -->
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-input formControlName="username" type="text" placeholder="Username / Email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="newPassword" type="password" placeholder="New Password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="confirmPassword" type="password" placeholder="Confirm Password"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="submit-btn" [disabled]="forgotForm.invalid">
          Reset Password
        </ion-button>
      </form>

      <p class="signin-link">
        Remembered your password? <a (click)="navigateToSignIn()">Sign In</a>
      </p>
    </div>
  </div>
</ion-content>
