<ion-header>
  <ion-toolbar class="premium-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Directory</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="directory-content ion-padding">
  <ion-grid class="directory-grid">
    <ion-row class="directory-row" justify-content-center>
      <ion-col *ngFor="let item of directoryItems" size="6" size-md="4" size-lg="3">
        <ion-card 
          class="effect"
          (click)="goToDirectoryDetail(item)"
          [ngStyle]="{'background': item.color}">
          <ion-card-content class="ion-text-center">
            <ion-icon [name]="item.icon" size="large"></ion-icon>
            <h3>{{ item.label }}</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
